.favorites {
    & >div{
 margin: 100px ;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
    
        padding: 5px 10px ;
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
    }
}