.card {
    width: 220px;
    height: 305px;
    margin: 50px 20px;
    padding: 5px 20px;

    /*   */
    .cardimg {
        width: 200px;
        background: #191B1C;
        padding: 5px 20px;

        img {
            width: 200px;
            height: 214px;
        }

    }

    h5 {
        color: #fff;
        font-size: 18px;
        margin-top: 25px;
        cursor: pointer;


    }

    p {
        margin-top: 10px;
        color: #fff;
        font-size: 16px;
    }

}

.btnCart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;

    padding: 5px 20px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}
.btnCart:hover{
    transform: scale(1.1); 
    
}
.iconCard{
    width: 22px;
    height: 22px;
    margin: 0 10px;
}
.fovorite {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-left: 80%;
    cursor: pointer;
    left: 100px;
}

@media (max-width: 1024) {
    .card {
        width: 200px;
        height: 285px;
        margin: 50px 20px;
        padding: 55px 20px;
        /* */
    }
}