@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Playfair Display, sans-serif;
    background: #000000;
    min-width: 340px;

}

button {
    border: none;
    cursor: pointer;

}

.container {
    max-width: 1400px;
    margin: 0 auto;

}
.containerOne {
    max-width: 1920px;
    margin: 0 auto;

}

.title_h2 {

    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    line-height: 42px
}

